pip list

!pip install pandas

!pip install xlrd

!pip install openpyxl

# Чтение содержимого файлов

In [6]:
import pandas as pd

## Интересы.xls

In [10]:
df = pd.read_excel('Interests_Calls_Volumes\Интересы.xls')
print(df.head(10))

               Дата                                               Тема  \
0  01.02.2023 07:26                Привлечение потенциального клиента.
1  01.02.2023 07:31                                Привлечение клиента
2  01.02.2023 07:45  Привлечение потенциального клиента ст. Подосин...
3  01.02.2023 08:22             Перевозка с Владимира - МСК, Ярославль
4  01.02.2023 08:37                 Привлечение потенциальных клиентов
5  01.02.2023 08:44                                Привлечение клиента
6  01.02.2023 09:16                                Привлечение клиента
7  01.02.2023 09:27                     ОБР_1120753 выгрузка Металлист
8  01.02.2023 09:51                 Привлечение потенциальных клиентов
9  01.02.2023 10:14                 Привлечение потенциальных клиентов

          Сценарий          Состояние     ID Подразделение  Ожидаемая выручка  \
0  1.Продажа  ЦФТО  Завершен неудачно  17369    ЦПУ МУРАШИ                NaN
1  1.Продажа  ЦФТО  Завершен неудачно  13714    ЦПУ МУРАШИ                NaN
2  1.Продажа  ЦФТО  Завершен неудачно  14984    ЦПУ МУРАШИ                NaN
3  1.Продажа  ЦФТО  Завершен неудачно  14916  ЦПУ ВЛАДИМИР                NaN
4  1.Продажа  ЦФТО  Завершен неудачно  14257   ЦПУ ШАХУНЬЯ                NaN
5  1.Продажа  ЦФТО   Завершен успешно  20892    ЦПУ ИЖЕВСК            20000.0
6  1.Продажа  ЦФТО  Завершен неудачно  20567    ЦПУ ИЖЕВСК                NaN
7  1.Продажа  ЦФТО   Завершен успешно  14258   ЦПУ ШАХУНЬЯ                NaN
8  1.Продажа  ЦФТО  Завершен неудачно  14259   ЦПУ ШАХУНЬЯ                NaN
9  1.Продажа  ЦФТО   Завершен успешно  14408   ЦПУ ШАХУНЬЯ                NaN

   Вероятность сделки, % Дата следующей активности Следующая активность  \
0                    NaN                       NaN                  NaN
1                    NaN                       NaN                  NaN
2                    NaN                       NaN                  NaN
3                    NaN                       NaN                  NaN
4                    NaN       13.03.2023 14:30:00               звонок
5                  100.0                       NaN                  NaN
6                    NaN                       NaN                  NaN
7                  100.0       02.02.2023 10:00:00               звонок
8                    NaN       28.02.2023 13:00:36               звонок
9                  100.0        27.03.2023 8:30:00               звонок

  Канал первичного интереса        Номер  \
0       10. Холодный звонок  0001-022043
1       10. Холодный звонок  0001-022053
2       10. Холодный звонок  0001-022069
3                 Обращение  0001-022106
4       10. Холодный звонок  0001-022115
5       10. Холодный звонок  0001-022122
6       10. Холодный звонок  0001-022155
7                 Обращение  0001-022185
8       10. Холодный звонок  0001-022250
9       10. Холодный звонок  0001-022300

  Ссылка (служебное поле для вывода на экран прочих реквизитов объекта)
0  Интерес "Привлечение потенциального клиента." ...
1        Интерес "Привлечение клиента" от 01.02.2023
2  Интерес "Привлечение потенциального клиента ст...
3  Интерес "Перевозка с Владимира - МСК, Ярославл...
4  Интерес "Привлечение потенциальных клиентов" о...
5  Интерес "Привлечение клиента" от 01.02.2023, 2...
6        Интерес "Привлечение клиента" от 01.02.2023
7  Интерес "ОБР_1120753 выгрузка Металлист" от 01...
8  Интерес "Привлечение потенциальных клиентов" о...
9  Интерес "Привлечение потенциальных клиентов" о...

## Обращения.xls

In [9]:
df = pd.read_excel('Interests_Calls_Volumes\Обращения.xls')
print(df.head())

               Дата                                               Тема     ID  \
0  01.02.2022 15:52                       Заключение договоров: Другое  21082
1  01.02.2024 10:04  Оформление документов связанных с перевозкой г...   1923
2  01.02.2024 11:25                          Справочный запрос: Другое  11332
3  01.02.2024 11:28                          Справочный запрос: Другое  21155
4  01.02.2024 11:30  Справочный запрос: Регистрация официальных обр...  21283

  Тип обращения        Номер  \
0     Обращение  0000-009659
1     Обращение  0001-025297
2     Обращение  0001-025498
3     Обращение  0001-025503
4     Обращение  0001-025506

                                        Тема вопроса  \
0                               Заключение договоров
1  Оформление документов связанных с перевозкой г...
2                                  Справочный запрос
3                                  Справочный запрос
4                                  Справочный запрос

                     Группа вопросов Количество доработок
0                             Другое                  NaN
1                       Заявка ГУ-12                  NaN
2                             Другое                  NaN
3                             Другое                  NaN
4  Регистрация официальных обращений                  NaN

## Объёмы перевозок.xls

In [8]:
df = pd.read_excel('Interests_Calls_Volumes\Объёмы перевозок.xls')
print(df.head())

  Unnamed: 0             Unnamed: 1             Unnamed: 2 Unnamed: 3  \
0        NaN                    NaN                    NaN        NaN
1         ID  Субъект федерации отп  Субъект федерации наз  Код груза
2      21220      Рязанская область   Оренбургская область      39146
3        912      Кировская область    Саратовская область      32411
4        912      Кировская область        Приморский край      32411

               Код валюты            рубли              рубли.1  \
0                   Месяц          2022/08              2022/08
1  Гр груза по опер.номен  Провозная плата  Объем перевозок(тн)
2                  МЕТИЗЫ                0                    0
3          ЧЕРНЫЕ МЕТАЛЛЫ                0                    0
4          ЧЕРНЫЕ МЕТАЛЛЫ           675705                  203

           рубли.2              рубли.3          рубли.4  ...  \
0          2023/10              2023/10          2024/01  ...
1  Провозная плата  Объем перевозок(тн)  Провозная плата  ...
2                0                    0           140356  ...
3                0                    0                0  ...
4                0                    0                0  ...

          рубли.54             рубли.55         рубли.56             рубли.57  \
0          2023/08              2023/08          2023/03              2023/03
1  Провозная плата  Объем перевозок(тн)  Провозная плата  Объем перевозок(тн)
2                0                    0                0                    0
3                0                    0                0                    0
4                0                    0                0                    0

          рубли.58             рубли.59         рубли.60             рубли.61  \
0          2024/08              2024/08          2022/01              2022/01
1  Провозная плата  Объем перевозок(тн)  Провозная плата  Объем перевозок(тн)
2                0                    0                0                    0
3                0                    0                0                    0
4          4668608                 1155          1440050                  476

          рубли.62             рубли.63
0          2023/07              2023/07
1  Провозная плата  Объем перевозок(тн)
2                0                    0
3                0                    0
4                0                    0

[5 rows x 69 columns]

# Фильтрация
## https://habr.com/ru/articles/775548/

## Объёмы перевозок.xls (Уникальных ID-956):

In [1]:
import pandas as pd

# так называемая база (почти)
input_file = r'Interests_Calls_Volumes\Объёмы перевозок.xls'
output_file = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx'

data = pd.read_excel(input_file, header=2)

filtered_data = data.groupby('ID').agg(
    Провозная_плата_сумма=('Провозная плата', 'sum'),
    Объем_перевозок_сумма=('Объем перевозок(тн)', 'sum')
).reset_index()

filtered_data.to_excel(output_file, index=False)

In [109]:
input_file = r'Interests_Calls_Volumes\Объёмы перевозок.xls'
data = pd.read_excel(input_file, header=2)
data.head().style

# Только 2 период
input_file = r'Interests_Calls_Volumes\Объёмы перевозок.xls'
output_file = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx'

data = pd.read_excel(input_file, header=1)

# Убираем лишние пробелы в названиях колонок и переименовываем
data.columns = data.columns.str.strip()
data.rename(columns={'Unnamed: 0': 'ID'}, inplace=True)

# Определяем текущую дату
current_year = 2024
current_month = 10  

# Последние 6 доступных месяцев
available_months = []

# Проходим по месяцам начиная с текущего и идем назад во времени
for year in range(current_year, 2020, -1):  # Предположим, что данные начинаются с 2020 года
    for month in range(12, 0, -1):
        month_str = f'{year}/{month:02d}'
        if month_str in data.columns and f'{month_str}.1' in data.columns:
            available_months.append(month_str)
            if len(available_months) == 6:
                break
    if len(available_months) == 6:
        break


if len(available_months) < 6:
    print("Недостаточно месяцев для анализа. Найденные месяцы:", available_months)
else:
    results = []

    # Проходим по всем строкам данных
    for _, row in data.iterrows():
        id_value = row['ID']
        for month in available_months:
            # Проверяем, есть ли данные для данного месяца
            if pd.notna(row[month]) and pd.notna(row[f'{month}.1']):
                results.append({
                    'ID': id_value,
                    'Провозная плата': row[month],
                    'Объем перевозок(тн)': row[f'{month}.1']
                })

    # Превращаем результаты в DataFrame
    result_df = pd.DataFrame(results)

    # Группировка по 'ID' и агрегирование сумм для итоговой таблицы
    final_result = result_df.groupby('ID').agg(
        Провозная_плата_сумма=('Провозная плата', 'sum'),
        Объем_перевозок_сумма=('Объем перевозок(тн)', 'sum')
    ).reset_index()

    
    final_result = final_result.iloc[:-1]
    final_result.to_excel(output_file, index=False)
    print("Фильтрация завершена. Результат сохранен в:", output_file)
print("Используются месяцы: ", available_months)

In [15]:
import pandas as pd

input_file = r'Interests_Calls_Volumes\Объёмы перевозок.xls'
output_file = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx'

data = pd.read_excel(input_file, header=1)

# Убираем лишние пробелы в названиях колонок и переименовываем
data.columns = data.columns.str.strip()
data.rename(columns={'Unnamed: 0': 'ID'}, inplace=True)

# Определяем текущую дату
current_year = 2024
current_month = 10  

# Последние 12 доступных месяцев
available_months = []

# Проходим по месяцам начиная с текущего и идем назад во времени
for year in range(current_year, 2019, -1):  # Предположим, что данные начинаются с 2020 года
    for month in range(12, 0, -1):
        month_str = f'{year}/{month:02d}'
        if month_str in data.columns and f'{month_str}.1' in data.columns:
            available_months.append(month_str)
            if len(available_months) == 12:
                break
    if len(available_months) == 12:
        break

if len(available_months) < 12:
    print("Недостаточно месяцев для анализа. Найденные месяцы:", available_months)
else:
    results = []

    # Определяем периоды
    period_1 = available_months[:6]  # Первые 6 месяцев
    period_2 = available_months[6:12] # Последние 6 месяцев

    # Проходим по всем строкам данных
    for _, row in data.iterrows():
        id_value = row['ID']
        
        # Собираем данные для первых 6 месяцев
        провозная_плата_1 = row[period_1].sum() if all(pd.notna(row[month]) for month in period_1) else None
        объем_перевозок_1 = row[[f'{month}.1' for month in period_1]].sum() if провозная_плата_1 is not None else None

        # Собираем данные для последних 6 месяцев
        провозная_плата_2 = row[period_2].sum() if all(pd.notna(row[month]) for month in period_2) else None
        объем_перевозок_2 = row[[f'{month}.1' for month in period_2]].sum() if провозная_плата_2 is not None else None

        results.append({
            'ID': id_value,
            'Провозная плата (период 1)': провозная_плата_1,
            'Объем перевозок(тн) (период 1)': объем_перевозок_1,
            'Провозная плата (период 2)': провозная_плата_2,
            'Объем перевозок(тн) (период 2)': объем_перевозок_2
        })

    # Превращаем результаты в DataFrame
    result_df = pd.DataFrame(results)

    # Убираем строки с отсутствующими данными
    result_df.dropna(subset=['Провозная плата (период 1)', 'Объем перевозок(тн) (период 1)', 
                             'Провозная плата (период 2)', 'Объем перевозок(тн) (период 2)'], inplace=True)

    result_df.to_excel(output_file, index=False)
    print("Фильтрация завершена. Результат сохранен в:", output_file)

print("Используются месяцы: ", available_months)

Фильтрация завершена. Результат сохранен в: Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx
Используются месяцы:  ['2024/08', '2024/07', '2024/06', '2024/05', '2024/04', '2024/03', '2024/02', '2024/01', '2023/12', '2023/11', '2023/10', '2023/09']

In [19]:
# убирает непотребства 
file_path = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx'
df = pd.read_excel(file_path, header=1)  # header=1 пропускает первую строку

df.columns = [
    'ID', 
    'Провозная плата (период 2)', 
    'Объем перевозок(тн) (период 2)', 
    'Провозная плата (период 1)', 
    'Объем перевозок(тн) (период 1)'
]

# Суммирование по уникальному ID
df_summary = df.groupby('ID').sum().reset_index()

# Сохранение результата в новый файл, если нужно
output_path = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_periods.xlsx'
df_summary.to_excel(output_path, index=False)

In [20]:
data = pd.read_excel(r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_periods.xlsx')
data.head().style

#тип данных в ID
df = pd.read_excel('Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_filtered.xlsx')
print(df['ID'].dtype)

## Обращения.xls

In [ ]:
import pandas as pd

In [ ]:
у меня есть r'Sample_20_people\filtered_data.xlsx' в нём есть ID также есть Interests_Calls_Volumes\Обращения.xls

In [2]:
file_path = 'Interests_Calls_Volumes/Обращения.xls'
df = pd.read_excel(file_path)

topic_counts = df['Тема вопроса'].value_counts()

for topic, count in topic_counts.items():
    print(f"{topic}: {count}")

Справочный запрос: 1423
Цифровые сервисы: 454
Электронный обмен документами: 320
Перевозка грузов и порожних вагонов: 213
Оформление документов связанных с перевозкой грузов: 125
Заключение договоров: 104
Дополнительные услуги: 76
Финансовые расчеты: 49
Жалобы: 22
Перевозка грузов в контейнерах: 21
Благодарности: 9
Перевозка грузов в рефрижераторных секциях ИВ-термосах вагонах-термосах: 7
Перевозка сборной/мелкой партии грузов / разовая: 2

## создание дополнительного параметра positiv_action

In [21]:
activity_file_path = 'Interests_Calls_Volumes/Обращения.xls'
activity_df = pd.read_excel(activity_file_path)


filtered_data_path = 'Sample_20_people/filtered_data.xlsx'
filtered_df = pd.read_excel(filtered_data_path)

topics_of_interest = [
    "Цифровые сервисы",
    "Электронный обмен документами",
    "Перевозка грузов и порожних вагонов",
    "Оформление документов связанных с перевозкой грузов",
    "Заключение договоров",
    "Финансовые расчеты",
    "Перевозка грузов в контейнерах",
    "Благодарности",
    "Перевозка грузов в рефрижераторных секциях ИВ-термосах вагонах-термосах",
    "Перевозка сборной/мелкой партии грузов / разовая"
]


filtered_activity_df = activity_df[activity_df['Тема вопроса'].isin(topics_of_interest)]
positive_action_counts = filtered_activity_df['ID'].value_counts()

filtered_df['positive_action'] = filtered_df['ID'].map(positive_action_counts).fillna(0)


output_path = 'Sample_20_people/filtered_data_with_positive_action.xlsx'
filtered_df.to_excel(output_path, index=False)

In [22]:
data = pd.read_excel(r'Sample_20_people/filtered_data_with_positive_action.xlsx')
data.head().style