In [1]:
import pandas as pd

## МС_Владимирская область.xls

In [21]:
df = pd.read_excel('Marketing_Lists\МС_Владимирская область.xls')
df.head(10).style

# Подготовка выборки

(сортировка по наличию ЕЛС действующий)

1) ID
2) Находится в реестре МСП (заменить на 0 или 1)
3) Размер уставного капитала объявленный
4) Численность персонала по данным ФНС.Количество
5) Карточка клиента (внешний источник).Индекс платежной дисциплины Значение - 100 (Низкий риск)
6) Карточка клиента (внешний источник).Индекс финансового риска Значение - 100 (высокий риск)
7) Провозная плата (период 1)
8) Провозная плата (период 2)
9) Объем перевозок(тн) (период 1)
10) Объем перевозок(тн) (период 2)
11) positive_action

## «ЕЛС действующий» – единый лицевой счёт клиента, используемый для оплаты услуг ОАО «РЖД».
Критерий: да/нет («да» – у клиента есть ЕЛС, есть заключенный договоры, сотрудничает с ОАО «РЖД»; «нет» - клиент никогда 
не сотрудничал с ОАО «РЖД», не имеет договорных отношений).

## Все ID связанные с Объёмы_перевозок.xlsx (всего 317 с ЕЛС)

In [32]:
import pandas as pd
import glob

# Читаем данные из файла
file_path = r'Interests_Calls_Volumes_FILTERED\Объёмы_перевозок_periods.xlsx'
df_original = pd.read_excel(file_path)

# Получаем все уникальные значения ID
unique_ids = df_original['ID'].dropna().unique()

# Создаем список для DataFrames всех файлов
dataframes = []

# Проходим по каждому файлу в указанной директории
for file in glob.glob(r"Marketing_Lists\МС_*.xls"):
    df = pd.read_excel(file)
    # Фильтруем строки по уникальным ID
    filtered_df = df[df['ID'].isin(unique_ids)]
    dataframes.append(filtered_df)  # Добавляем отфильтрованные данные в список

# Объединяем все DataFrames в один
if dataframes:  # Только если список не пуст
    combined_df = pd.concat(dataframes, ignore_index=True)
else:
    combined_df = pd.DataFrame()  # Если нет файлов, создаем пустой DataFrame

# Объединяем с оригинальным DataFrame по ID
final_df = pd.merge(df_original, combined_df, on='ID', how='left')

# Сохраняем результат в новый Excel файл
output_path = r'Sample_20_people\МС_Владимирская область_все.xlsx'
final_df.to_excel(output_path, index=False)

In [33]:
# удаление строк, что не вошли в Marketing_Lists
file_path = 'Sample_20_people/МС_Владимирская область_все.xlsx'
df = pd.read_excel(file_path)

df_cleaned = df[df['Находится в реестре МСП'].isin(['Да', 'Нет'])]

df_cleaned.to_excel(r'Sample_20_people\МС_все.xlsx', index=False)

In [37]:
file_path = r'Sample_20_people\МС_все.xlsx'
df = pd.read_excel(file_path)

selected_columns = [
    'ID',
    'Находится в реестре МСП',
    'Размер уставного капитала объявленный',
    'Численность персонала по данным ФНС.Количество',
    'Карточка клиента (внешний источник).Индекс платежной дисциплины Значение',
    'Карточка клиента (внешний источник).Индекс финансового риска Значение',
    'Провозная плата (период 1)',
    'Провозная плата (период 2)',
    'Объем перевозок(тн) (период 1)',
    'Объем перевозок(тн) (период 2)'
]
df_filtered = df[selected_columns]


df_filtered = df_filtered.drop_duplicates(subset='ID', keep='last')


output_path = r'Sample_20_people\filtered_data.xlsx'
df_filtered.to_excel(output_path, index=False)

In [38]:
df = pd.read_excel(r'Sample_20_people\filtered_data.xlsx')
df.head().style

## Расчёт Devotion и Churn

In [58]:
def calculate_client_loyalty(pdi, fri, revenue1, revenue2, volume1, volume2, positiv_action, weights):
    w1, w2, w3, w4, w5 = weights

    pdi_score = pdi
    fri_score = 100 - fri

    revenue_ratio = revenue1 / (revenue1 + revenue2) if (revenue1 + revenue2) > 0 else 0
    volume_ratio = volume1 / (volume1 + volume2) if (volume1 + volume2) > 0 else 0


    positiv_action_score = 10 if positiv_action else 0

    loyalty_percentage = (w1 * pdi_score +
                          w2 * fri_score +
                          w3 * revenue_ratio +
                          w4 * volume_ratio +
                          w5 * positiv_action_score)

    return loyalty_percentage

file_path = r'Sample_20_people\filtered_data_with_positive_action.xlsx'
data = pd.read_excel(file_path)

weights = [0.3, 0.3, 0.1, 0.1, 0.2]  # Веса для расчетов

devotion_scores = []
churn_scores = []

# Рассчитываем Devotion и Churn для каждого клиента
for index, row in data.iterrows():
    pdi = row['Карточка клиента (внешний источник).Индекс платежной дисциплины Значение']
    fri = row['Карточка клиента (внешний источник).Индекс финансового риска Значение']
    revenue1 = row['Провозная плата (период 1)']
    revenue2 = row['Провозная плата (период 2)']
    volume1 = row['Объем перевозок(тн) (период 1)']
    volume2 = row['Объем перевозок(тн) (период 2)']
    positiv_action = row['positive_action']  
    
    # Вычисляем процент верности клиента (Devotion)
    devotion_score = calculate_client_loyalty(pdi, fri, revenue1, revenue2, volume1, volume2, positiv_action, weights)
    
    # Ограничиваем значения Devotion в пределах 1-99
    devotion_score = max(1, min(devotion_score, 99))
    devotion_scores.append(devotion_score)
    
    # Рассчитываем Churn (1, если Devotion > 20; 0 в противном случае)
    churn_score = 1 if devotion_score > 20 else 0
    churn_scores.append(churn_score)

data['Devotion'] = devotion_scores
data['Churn'] = churn_scores

output_file_path = r'Sample_20_people\train20_data.xlsx'
data.to_excel(output_file_path, index=False)

In [60]:
data.head().style

In [62]:
file_path = r'Sample_20_people\train20_data.xlsx'
df = pd.read_excel(file_path)

# Заполнить пустые ячейки нулями
df.fillna(0, inplace=True)

# Заменить значения в столбце "Находится в реестре МСП"
df['Находится в реестре МСП'] = df['Находится в реестре МСП'].replace({'Нет': 0, 'Да': 1})

df.to_excel(file_path, index=False)

C:\Temp\ipykernel_3124\2369997025.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Находится в реестре МСП'] = df['Находится в реестре МСП'].replace({'Нет': 0, 'Да': 1})

In [64]:
df.head().style